@inject AuthStateService AuthStateService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">W1N3App</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        @if (AuthStateService.IsLoggedIn)
        {

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="artists">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Künstler
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="programs">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Programme
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="shows">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Shows
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="ticketholders">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Käufer
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="statistics">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Statistiken
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="shows">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Shows
                </NavLink>
            </div>
        }
        else
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="tickets">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Tickets
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="register">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Register
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="login">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> To Login
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    protected override void OnInitialized()
    {
        AuthStateService.AuthStateChanged += StateHasChanged;
    }
}

