@page "/"

@inject AuthStateService AuthStateService

<PageTitle>Home</PageTitle>

<h1>Hello, @(string.IsNullOrEmpty(AuthStateService.UserName) ? "Guest" : AuthStateService.UserName)!</h1>

Welcome to your new KKBapp.


@code {
    protected override void OnInitialized()
    {
        AuthStateService.AuthStateChanged += StateHasChanged;
    }
}